<header>
    <div class="site-header">
        <a class="site-brand" href="{{ app.url }}/">
            <span class="site-brand__mark">JH</span>
            <span class="site-brand__text">Handmade & Digital Craft</span>
        </a>
        <nav class="site-nav">
            <a href="{{ app.url }}/">Home</a>
            <a href="{{ app.url }}/catalogo">Catalogo</a>
            <a href="{{ app.url }}/laboratorio">Laboratorio</a>
            <a href="{{ app.url }}/contatti">Contatti</a>
        </nav>
    </div>
</header>
