<article class="card">
    {% if product.primary_image_url %}
        <a class="card__image-link" href="{{ app.url }}/prodotto/{{ product.slug }}">
            <img class="card__image" src="{{ product.primary_image_url }}" alt="{{ product.name }}">
        </a>
    {% endif %}
    <div class="card__meta">
        <span class="pill">{{ product.category_name }}</span>
        {% if product.is_customizable %}
            <span class="pill pill--soft">Personalizzabile</span>
        {% endif %}
    </div>
    <h3>{{ product.name }}</h3>
    <p>{{ product.short_description ?: 'Prodotto artigianale e digitale su richiesta.' }}</p>
    <div class="card__footer">
        <span class="card__price">{{ product.price_label ?: 'Prezzo su richiesta' }}</span>
        <a href="{{ app.url }}/prodotto/{{ product.slug }}">Scopri</a>
    </div>
</article>
